<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamHome1</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/bg.css">
    <link rel="stylesheet" href="../../static/css/dh.css">
   
</head>
<body>
    <header>
        <div class="logodiv"><h1>DREAM HOME</h1></div>
        <nav>
        <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../about.html">About Us</a></li>
        <li><a href="../partners.html">Partners</a></li>
        <li><a href="../order.html">Order Now</a></li>
        <li><a href="../faqs.html">Faqs</a></li>
        <li><a href="../contact.html">Contact Us</a></li>
        </ul>
        </nav>
        </header>
<section class="dh">
    <img src="../../static/images/h2.jpg" alt="" class="dh-img">
    <div class="dh-imgs">
        <img src="../../static/images/h2.jpg"  class="dhimg" alt=""  onclick="imgslider('../../static/images/h2.jpg')">
        <img src="../../static/images/h2a.jpg" class="dhimg"  alt="" onclick="imgslider('../../static/images/h2a.jpg')">
        <img src="../../static/images/h1b.jpg" class="dhimg"  alt="" onclick="imgslider('../../static/images/h1b.jpg')">
    </div>
<div class="dh-items">
    <div class="dhcont dhcont1">
        <h1>Dream Home Project 2</h1>
        <h3><i>Location:</i>Lorem ipsum dolor sit amet consectetur.</h3>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non in, possimus consectetur laboriosam magni similique ratione animi voluptas esse necessitatibus consequuntur veniam voluptatibus hic laborum, unde odit quasi rem quidem!</p>
        <br>
        <p><u><b> plz visit our office for more details and visiting the site!</b></u></p>
        <p><i><b>Office Location:</b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis</i></p>
    </div>
    <div class="dhcont">
<h3>
    More Details:
</h3>
<br>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni distinctio illo molestiae nobis quod odit!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni distinctio illo molestiae nobis quod odit!
</p>
<br>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni distinctio illo molestiae nobis quod odit!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni distinctio illo molestiae nobis quod odit!
</p>
<br>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni distinctio illo molestiae nobis quod odit!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni distinctio illo molestiae nobis quod odit!
</p>
<br>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni distinctio illo molestiae nobis quod odit!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni distinctio illo molestiae nobis quod odit!
</p>
<br>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni distinctio illo molestiae nobis quod odit!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni distinctio illo molestiae nobis quod odit!
</p>
<br>


    </div>
</div>

</section>
<script src="../../static/js/dh1.js"></script>
</body>
</html>