<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bg.css">
    <link rel="stylesheet" href="../static/css/contact.css">
</head>
<body>
    <header>
        <div class="logodiv"><h1>DREAM HOME</h1></div>
        <nav>
        <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="partners.html">Partners</a></li>
        <li><a href="order.html">Order Now</a></li>
        <li><a href="faqs.html">Faqs</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        </ul>
        </nav>
        </header>
   

        <section id="contact-container">
            <div class="contact">    
                <h1 class="contact-h">Contact US</h1>
            <form action="" class="contact-form">
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                </div>
                <div>
                    <label for="number">Number:</label>
                    <input type="number" name="number" id="number" placeholder="03XXXXXXXXX">
                </div>
                <div>
                    <label for="address">Address:</label>
                    <input type="text" name="address" id="address" placeholder="Write your address">
                </div>
                <div>
                    <label for="message" >Message:</label>
                    <textarea name="message" id="message">

                    </textarea>
                </div>
<button>Submit</button>
            </form>
                 </section>
</body>
</html>