<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faqs</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bg.css">
    <link rel="stylesheet" href="../static/css/faqs.css">
</head>
<body>
    <header>
        <div class="logodiv"><h1>DREAM HOME</h1></div>
        <nav>
        <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="partners.html">Partners</a></li>
        <li><a href="order.html">Order Now</a></li>
        <li><a href="faqs.html">Faqs</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        </ul>
        </nav>
        </header>
        <section id="faqs-container">
            <div class="faqs">    
                <h1 class="faqs-h">FAQS:</h1>
                <h3>Q:Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>A:Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?</p>
                <h3>Q:Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?</p>
                <h3>Q:Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?</p>
                <h3>Q:Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?</p>
                <h3>Q:Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>A:Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?</p>
                <h3>Q:Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?</p>
                <h3>Q:Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?</p><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro doloremque animi dolor dolores corrupti pariatur non earum fugiat, quaerat voluptates hic?</p>
            </section>
</body>
</html>