<!DOCTYPE html>
<html lang="en">
<head>
<title>MyHome.com</title>
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/bg.css">
<link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
<div id="container">
<header>
<div class="logodiv"><h1>DREAM HOME</h1></div>
<nav>
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="about.html">About Us</a></li>
<li><a href="partners.html">Partners</a></li>
<li><a href="order.html">Book Now</a></li>
<li><a href="faqs.html">Faqs</a></li>
<li><a href="contact.html">Contact Us</a></li>
</ul>
</nav>
</header>
<div id="content">
<h1>Dream Home Is Ready For Upcoming Bookings!</h1>
<p>Buy your luxurious,adorable,comfortable </p>
<p>
  and charming home now! </p>
<button class="btn"><a href="order.html">Book Now</a></button>
<a href="faqs.html">Learn More</a>
</div>

<!-- wave -->
<svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path fill="#fff" fill-opacity="1" d="M0,160L48,170.7C96,181,192,203,288,192C384,181,480,139,576,144C672,149,768,203,864,208C960,213,1056,171,1152,138.7C1248,107,1344,85,1392,74.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  
</svg>
<div id="partners">
<h3>Our Partners</h3>
<hr>
<div id="partner-items">
<a href="../static/images/3.png"><img src="../static/images/3.png"></a>
<a href="../static/images/4.png"><img src="../static/images/4.png"></a>
<a href="../static/images/5.png"><img src="../static/images/5.png"></a>
<a href="../static/images/6.png"><img src="../static/images/6.png"></a>
<a href="../static/images/4.png"><img src="../static/images/4.png"></a>
<a href="../static/images/5.png"><img src="../static/images/5.png"></a>

</div>
</div>

</div>
<script>

</script>
</body>
</html>