<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamHome/order</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/order.css">
    <link rel="stylesheet" href="../static/css/bg.css">
</head>
<body>
    <header>
        <div class="logodiv"><h1>DREAM HOME</h1></div>
        <nav>
        <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="partners.html">Partners</a></li>
        <li><a href="order.html">Order Now</a></li>
        <li><a href="faqs.html">Faqs</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        </ul>
        </nav>
        </header>
<section id="order-container">
<div class="order-item">
    <figure class="order-img-cont">
     
        <img src="../static/images/h1.jpg" alt="" class="order-img">
        <figcaption>
            <h2>DreamHome1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum dolor sit, amet </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum  amet </p>
        </figcaption>
    </figure>
    <a href="home/dh1.html" class="btn">
        Learn More
</a>
</div>
<div class="order-item">
    <figure class="order-img-cont">
     
        <img src="../static/images/h2.jpg" alt="" class="order-img">
        <figcaption>
            <h2>DreamHome2</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum dolor sit, amet </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum  amet </p>
        </figcaption>
    </figure>
    <a href="home/dh2.html" class="btn">
        Learn More
</a>
</div>
<div class="order-item">
    <figure class="order-img-cont">
     
        <img src="../static/images/h3.jpg" alt="" class="order-img">
        <figcaption>
            <h2>DreamHome3</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum dolor sit, amet </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum  amet </p>
        </figcaption>
    </figure>
    <a href="home/dh3.html" class="btn">
        Learn More
</a>
</div>
<div class="order-item">
    <figure class="order-img-cont">
     
        <img src="../static/images/h4.jpg" alt="" class="order-img">
        <figcaption>
            <h2>DreamHome4</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum dolor sit, amet </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum  amet </p>
        </figcaption>
    </figure>
    <a href="home/dh4.html" class="btn">
        Learn More
</a>
</div>
<div class="order-item">
    <figure class="order-img-cont">
     
        <img src="../static/images/h5.jpg" alt="" class="order-img">
        <figcaption>
            <h2>DreamHome5</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum dolor sit, amet </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum  amet </p>
        </figcaption>
    </figure>
    <a href="home/dh5.html" class="btn">
        Learn More
</a>
</div>
<div class="order-item">
    <figure class="order-img-cont">
     
        <img src="../static/images/h6.jpg" alt="" class="order-img">
        <figcaption>
            <h2>DreamHome6</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum dolor sit, amet </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum  amet </p>
        </figcaption>
    </figure>
    <a href="home/dh6.html" class="btn">
        Learn More
</a>
</div>
<div class="order-item">
    <figure class="order-img-cont">
     
        <img src="../static/images/h7.jpg" alt="" class="order-img">
        <figcaption>
            <h2>DreamHome7</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum dolor sit, amet </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum  amet </p>
        </figcaption>
    </figure>
    <a href="home/dh7.html" class="btn">
        Learn More
</a>
</div>
<div class="order-item">
    <figure class="order-img-cont">
     
        <img src="../static/images/h8.jpg" alt="" class="order-img">
        <figcaption>
            <h2>DreamHome8</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum dolor sit, amet </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum  amet </p>
        </figcaption>
    </figure>
    <a href="home/dh8.html" class="btn">
        Learn More
</a>
</div>
<div class="order-item">
    <figure class="order-img-cont">
     
        <img src="../static/images/h9.jpg" alt="" class="order-img">
        <figcaption>
            <h2>DreamHome9</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum dolor sit, amet </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum  amet </p>
        </figcaption>
    </figure>
    <a href="home/dh9.html" class="btn">
        Learn More
</a>
</div>
<div class="order-item">
    <figure class="order-img-cont">
     
        <img src="../static/images/h10.jpg" alt="" class="order-img">
        <figcaption>
            <h2>DreamHome10</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum dolor sit, amet </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum  amet </p>
        </figcaption>
    </figure>
    <a href="home/dh10.html" class="btn">
        Learn More
</a>
</div>
<div class="order-item">
    <figure class="order-img-cont">
     
        <img src="../static/images/h11.jpg" alt="" class="order-img">
        <figcaption>
            <h2>DreamHome11</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum dolor sit, amet </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum  amet </p>
        </figcaption>
    </figure>
    <a href="home/dh11.html" class="btn">
        Learn More
</a>
</div>
<div class="order-item">
    <figure class="order-img-cont">
     
        <img src="../static/images/h12.jpg" alt="" class="order-img">
        <figcaption>
            <h2>DreamHome12</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum dolor sit, amet </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicingLorem ipsum  amet </p>
        </figcaption>
    </figure>
    <a href="home/dh12.html" class="btn">
        Learn More
</a>
</div>

</section>
</body>
</html>