.btn{
    text-decoration: none;
    color: white;
    margin-left: 45%;
}
.btn:hover{
    opacity: 0.5;
}
#order-container{
    margin-top: 150px;
}
.order-item{
    width: 55vw;
    margin: 3rem auto;
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 20px;
}
.order-img{
    height: 300px;
    width: 50vw;
    border-radius: 20px;
}
.order-img:hover{
    opacity: 0.6;
}
.order-img-cont{
    color: white;
   padding: 2rem;
}

.order-img-cont figcaption{
    margin-top: 1rem;
}

.order-img-cont h2{
    text-align: center;
}


@media (max-width:900px) and (min-width:700px){
    .order-img-cont{
       padding: 1rem;
    }
}
@media (max-width:700px) and (min-width:600px){
    .order-img-cont{
       padding: 0.7rem;
    }
    .order-item{
        width: 85vw;
    }
    .order-img{
        height: 300px;
        width: 80vw;
    }
    .order-img-cont figcaption{
        padding: 1rem;
     }

}
@media (max-width:600px) and (min-width:0px){
    .order-img-cont{
       padding: 0.4rem;
    }
    .order-item{
        width: 85vw;
    }
    .order-img{
        height: 300px;
        width: 80vw;
    }
    .order-img-cont figcaption{
        padding: 1rem;
     }
     
}
@media (max-width:378px) and (min-width:277px){
    .btn{
        margin-left: 25%;
    }
    .order-item{
        width: 85vw;
    }
    .order-img{
        height: 300px;
        width: 80vw;
    }
    .order-img-cont figcaption{
        padding: 1rem;
     }
}
@media (max-width:277px) and (min-width:219px){
    .btn{
        margin-left: 5%;
    }
    .order-item{
        width: 85vw;
    }
    .order-img{
        height: 300px;
        width: 80vw;
    }
    .order-img-cont figcaption{
        padding: 1rem;
     }
}
@media (max-width:219px) and (min-width:0px){
    .btn{
        margin-left: -5%;
    }
    .order-item{
        width: 85vw;
    }
    .order-img{
        height: 300px;
        width: 80vw;
    }
    .order-img-cont figcaption{
        padding: 1rem;
     }
}